* {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 2em;
    line-height: 150%;
    text-shadow: 2px 2px rgba(0, 0, 0, .25);
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, .25);*/
    background-color: #0c9e2c;
}

ul {
    list-style-type: none;
}

.fix::after {
    display: block;
    clear: both;
    height: 0;
    width: 0;
    content: ".";
    font-size: 0;
    overflow: hidden;
}

.main {
    text-align: center;
    padding-top: 10%;
}

.main p {
    margin-bottom: 20px;
    font-weight: 100
}

.main p a {
    color: inherit;
    text-decoration: inherit
}

.main h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 20px;

}

.main li {
  color: #fff;
  font-weight: 100;
}


.roles {
    background-color: rgba(0, 0, 0, .25);
    padding: 0 5px;
    border-radius: 2px;
    margin-right: 3px;
    font-style: normal
}

.header {
    display: inline-flex;
    text-align: right;
    padding-top: 10%;
}

.header li {
    padding-top:.5em;
    padding-bottom: 15px;
}

.header a {
    color: #fff;
    font-size: 32px;
    margin-right: 10px;
    line-height: 32px;
    vertical-align: middle;
    transition: font-size .25s
}

.header a i {
    line-height: 32px!important
}

.header a:hover {
    font-size: 58px;
    line-height: 32px!important
}

.header a:last-child {
    margin-right: 0
}

@media (max-width:1366px) {
    .main-article {
        padding: 100px 20px
    }
}

@media (max-width:720px) {
    .main-article {
        padding: 50px 20px
    }
}
